In [21]:
# Going to work off of the Keras API to create our own datasets. Kinda. 
from six.moves import cPickle
import numpy as np, pandas as pd
import glob
import os

In [3]:
# datapath = '/media/mike/tera/data/nlp/kaggle_imdb/'
path = '/home/mike/.keras/datasets/imdb_full.pkl'

In [4]:
f = open(path, 'rb')

In [5]:
data = cPickle.load(f)

f.close()
print(type(data))

<class 'tuple'>

In [6]:
f.close()

In [7]:
(x_train, labels_train), (x_test, labels_test) = data

In [10]:
len(labels_test)

25000

In [12]:
ls -lah /home/mike/.keras/datasets/

total 118M
drwxrwxr-x 2 mike mike 4.0K Mar 28 17:13 ./
drwxrwxr-x 4 mike mike 4.0K Jan 27 22:58 ../
-rw-rw-r-- 1 mike mike  63M Mar 15 18:58 imdb_full.pkl
-rw-rw-r-- 1 mike mike  17M Mar 28 12:27 imdb.npz
-rw-rw-r-- 1 mike mike 1.6M Mar 28 12:28 imdb_word_index.json
-rw-rw-r-- 1 mike mike 2.3M Mar 27 11:06 imdb_word_index.pkl
-rw-rw-r-- 1 mike mike  11M Mar 28 17:13 mnist.npz
-rw-rw-r-x 1 mike mike  15M Dec 22 18:01 mnist.pkl.gz*
-rw-rw-r-- 1 mike mike 587K Mar 15 22:50 nietzsche.txt
-rw-rw-r-- 1 mike mike 8.8M Mar 27 11:17 reuters.pkl

In [16]:
datapath = '/media/mike/tera/data/nlp/aclImdb/train/'

In [17]:
fn_pos = glob.glob(datapath + 'pos/*.txt')
print(len(fn_pos))
print(fn_pos[:5])

12500
['/media/mike/tera/data/nlp/aclImdb/train/pos/5382_7.txt', '/media/mike/tera/data/nlp/aclImdb/train/pos/6095_7.txt', '/media/mike/tera/data/nlp/aclImdb/train/pos/5764_7.txt', '/media/mike/tera/data/nlp/aclImdb/train/pos/1873_8.txt', '/media/mike/tera/data/nlp/aclImdb/train/pos/6516_10.txt']

In [18]:
fn = fn_pos[0]

In [19]:
with open(fn, 'r') as f:
    data = f.read()

In [20]:
data

"After watching the Next Action Star reality TV series, I was pleased to see the winners' movie right away. I was leery of such a showcase of new talent, but I was pleasantly surprised and thrilled. Billy Zane, of course, was his usual great self, but Corinne and Sean held their own beside him. It was also nice to see Jared and Jeanne (also from the competition) in their cameo roles. Sean's character, not Billy's, is the hunted, and his frustration at discovering new rules in the game is well played. Corinne walks the tightrope well between her character liking Sean's and only being in it for the money. I loved how the game was played right to the last second. And then beyond! Not a great movie, but an entertaining one all the way and a great showcase for two folks on their first time out of the gate."

In [25]:
os.path.basename(fn)[:-4]

'5382_7'

In [32]:
datapath = '/media/mike/tera/data/nlp/aclImdb/'

In [35]:
datadict = {}
for tset in ['train', 'test']:
    for pset in ['pos', 'neg']:
        path = datapath + '{}/{}/*.txt'.format(tset, pset)
        print(path)
        fnames = glob.glob(path)
        print(len(fnames))
        datas = []
        for fn in fnames:
            with open(fn, 'r') as f:
                data = f.read()
                datas.append(data)
        key = '{}_{}'.format(tset, pset)
        datadict.update({key: datas})
        print(key)

/media/mike/tera/data/nlp/aclImdb/train/pos/*.txt
12500
train_pos
/media/mike/tera/data/nlp/aclImdb/train/neg/*.txt
12500
train_neg
/media/mike/tera/data/nlp/aclImdb/test/pos/*.txt
12500
test_pos
/media/mike/tera/data/nlp/aclImdb/test/neg/*.txt
12500
test_neg

In [36]:
len(datadict['train_pos'])

12500

In [37]:
datadict['train_pos'][0]

"After watching the Next Action Star reality TV series, I was pleased to see the winners' movie right away. I was leery of such a showcase of new talent, but I was pleasantly surprised and thrilled. Billy Zane, of course, was his usual great self, but Corinne and Sean held their own beside him. It was also nice to see Jared and Jeanne (also from the competition) in their cameo roles. Sean's character, not Billy's, is the hunted, and his frustration at discovering new rules in the game is well played. Corinne walks the tightrope well between her character liking Sean's and only being in it for the money. I loved how the game was played right to the last second. And then beyond! Not a great movie, but an entertaining one all the way and a great showcase for two folks on their first time out of the gate."

In [39]:
train = datadict['train_pos'] + datadict['train_neg']
y_train = list(np.ones(len(datadict['train_pos']))) + list(np.zeros(len(datadict['train_neg'])))
test = datadict['train_pos'] + datadict['train_neg']
y_test = list(np.ones(len(datadict['test_pos']))) + list(np.zeros(len(datadict['test_neg'])))

In [43]:
df_train = pd.DataFrame(list(zip(train, y_train)), columns=['review', 'sentiment'])
df_test = pd.DataFrame(list(zip(test, y_test)), columns=['review', 'sentiment'])

df_train.head()

                                              review  sentiment
0  After watching the Next Action Star reality TV...        1.0
1  I'm a bit conflicted over this. The show is on...        1.0
2  I originally reviewed this film on Amazon abou...        1.0
3  The violent and rebel twenty-five years old sa...        1.0
4  hello. i just watched this movie earlier today...        1.0

In [45]:
df_train.to_csv(datapath + 'imdb_train.csv', index=None)

In [46]:
df_test.to_csv(datapath + 'imdb_test.csv', index=None)