In [21]:
# Going to work off of the Keras API to create our own datasets. Kinda. 
from six.moves import cPickle
import numpy as np, pandas as pd
import glob
import os

In [3]:
# datapath = '/media/mike/tera/data/nlp/kaggle_imdb/'
path = '/home/mike/.keras/datasets/imdb_full.pkl'

In [4]:
f = open(path, 'rb')

In [5]:
data = cPickle.load(f)

f.close()
print(type(data))

<class 'tuple'>

In [6]:
f.close()

In [7]:
(x_train, labels_train), (x_test, labels_test) = data

In [10]:
len(labels_test)

25000

In [12]:
ls -lah /home/mike/.keras/datasets/

total 118M
drwxrwxr-x 2 mike mike 4.0K Mar 28 17:13 ./
drwxrwxr-x 4 mike mike 4.0K Jan 27 22:58 ../
-rw-rw-r-- 1 mike mike  63M Mar 15 18:58 imdb_full.pkl
-rw-rw-r-- 1 mike mike  17M Mar 28 12:27 imdb.npz
-rw-rw-r-- 1 mike mike 1.6M Mar 28 12:28 imdb_word_index.json
-rw-rw-r-- 1 mike mike 2.3M Mar 27 11:06 imdb_word_index.pkl
-rw-rw-r-- 1 mike mike  11M Mar 28 17:13 mnist.npz
-rw-rw-r-x 1 mike mike  15M Dec 22 18:01 mnist.pkl.gz*
-rw-rw-r-- 1 mike mike 587K Mar 15 22:50 nietzsche.txt
-rw-rw-r-- 1 mike mike 8.8M Mar 27 11:17 reuters.pkl

In [16]:
datapath = '/media/mike/tera/data/nlp/aclImdb/train/'

In [17]:
fn_pos = glob.glob(datapath + 'pos/*.txt')
print(len(fn_pos))
print(fn_pos[:5])

12500
['/media/mike/tera/data/nlp/aclImdb/train/pos/5382_7.txt', '/media/mike/tera/data/nlp/aclImdb/train/pos/6095_7.txt', '/media/mike/tera/data/nlp/aclImdb/train/pos/5764_7.txt', '/media/mike/tera/data/nlp/aclImdb/train/pos/1873_8.txt', '/media/mike/tera/data/nlp/aclImdb/train/pos/6516_10.txt']

In [18]:
fn = fn_pos[0]

In [19]:
with open(fn, 'r') as f:
    data = f.read()

In [20]:
data

"After watching the Next Action Star reality TV series, I was pleased to see the winners' movie right away. I was leery of such a showcase of new talent, but I was pleasantly surprised and thrilled. Billy Zane, of course, was his usual great self, but Corinne and Sean held their own beside him. It was also nice to see Jared and Jeanne (also from the competition) in their cameo roles. Sean's character, not Billy's, is the hunted, and his frustration at discovering new rules in the game is well played. Corinne walks the tightrope well between her character liking Sean's and only being in it for the money. I loved how the game was played right to the last second. And then beyond! Not a great movie, but an entertaining one all the way and a great showcase for two folks on their first time out of the gate."

In [25]:
os.path.basename(fn)[:-4]

'5382_7'

In [32]:
datapath = '/media/mike/tera/data/nlp/aclImdb/'

In [35]:
datadict = {}
for tset in ['train', 'test']:
    for pset in ['pos', 'neg']:
        path = datapath + '{}/{}/*.txt'.format(tset, pset)
        print(path)
        fnames = glob.glob(path)
        print(len(fnames))
        datas = []
        for fn in fnames:
            with open(fn, 'r') as f:
                data = f.read()
                datas.append(data)
        key = '{}_{}'.format(tset, pset)
        datadict.update({key: datas})
        print(key)

/media/mike/tera/data/nlp/aclImdb/train/pos/*.txt
12500
train_pos
/media/mike/tera/data/nlp/aclImdb/train/neg/*.txt
12500
train_neg
/media/mike/tera/data/nlp/aclImdb/test/pos/*.txt
12500
test_pos
/media/mike/tera/data/nlp/aclImdb/test/neg/*.txt
12500
test_neg

In [36]:
len(datadict['train_pos'])

12500

In [37]:
datadict['train_pos'][0]

"After watching the Next Action Star reality TV series, I was pleased to see the winners' movie right away. I was leery of such a showcase of new talent, but I was pleasantly surprised and thrilled. Billy Zane, of course, was his usual great self, but Corinne and Sean held their own beside him. It was also nice to see Jared and Jeanne (also from the competition) in their cameo roles. Sean's character, not Billy's, is the hunted, and his frustration at discovering new rules in the game is well played. Corinne walks the tightrope well between her character liking Sean's and only being in it for the money. I loved how the game was played right to the last second. And then beyond! Not a great movie, but an entertaining one all the way and a great showcase for two folks on their first time out of the gate."

In [39]:
train = datadict['train_pos'] + datadict['train_neg']
y_train = list(np.ones(len(datadict['train_pos']))) + list(np.zeros(len(datadict['train_neg'])))
test = datadict['train_pos'] + datadict['train_neg']
y_test = list(np.ones(len(datadict['test_pos']))) + list(np.zeros(len(datadict['test_neg'])))

In [43]:
df_train = pd.DataFrame(list(zip(train, y_train)), columns=['review', 'sentiment'])
df_test = pd.DataFrame(list(zip(test, y_test)), columns=['review', 'sentiment'])

df_train.head()

                                              review  sentiment
0  After watching the Next Action Star reality TV...        1.0
1  I'm a bit conflicted over this. The show is on...        1.0
2  I originally reviewed this film on Amazon abou...        1.0
3  The violent and rebel twenty-five years old sa...        1.0
4  hello. i just watched this movie earlier today...        1.0

In [45]:
df_train.to_csv(datapath + 'imdb_train.csv', index=None)

In [46]:
df_test.to_csv(datapath + 'imdb_test.csv', index=None)

In [47]:
datapath = '/home/mike/data/sentiment/kaggle_rotten/'

In [49]:
data = pd.read_csv(datapath + 'train.tsv', sep='\t')
data.head(10)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is...,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for ...,2

In [50]:
data['SentenceId'].unique()

array([   1,    2,    3, ..., 8542, 8543, 8544])

In [52]:
data.groupby('SentenceId').count()

            PhraseId  Phrase  Sentiment
SentenceId
1                 63      63         63
2                 18      18         18
3                 35      35         35
4                 40      40         40
5                 10      10         10
6                 32      32         32
7                 15      15         15
8                 34      34         34
9                 12      12         12
10                12      12         12
11                35      35         35
12                46      46         46
13                11      11         11
14                44      44         44
15                16      16         16
16                35      35         35
17                15      15         15
18                43      43         43
19                20      20         20
20                15      15         15
21                12      12         12
22                56      56         56
23                28      28         28
24                39      39         39
25                16      16         16
26                23      23         23
27                16      16         16
28                45      45         45
29                24      24         24
30                29      29         29
...              ...     ...        ...
8514              14      14         14
8515              23      23         23
8516              19      19         19
8517              20      20         20
8518              13      13         13
8519              21      21         21
8520              27      27         27
8521               6       6          6
8522               4       4          4
8523              18      18         18
8524              12      12         12
8525              31      31         31
8526              16      16         16
8527              22      22         22
8528              16      16         16
8529              18      18         18
8531              13      13         13
8532              27      27         27
8533              24      24         24
8534              11      11         11
8535               3       3          3
8536              16      16         16
8537              19      19         19
8538              14      14         14
8539              21      21         21
8540              13      13         13
8541              24      24         24
8542              10      10         10
8543               8       8          8
8544              21      21         21

[8529 rows x 3 columns]

In [63]:
mask = data['SentenceId'] == 2
subidx = data[mask].index[0]
print(subidx)
dict(data.iloc[subidx])

63

{'Phrase': 'This quiet , introspective and entertaining independent is worth seeking .',
 'PhraseId': 64,
 'SentenceId': 2,
 'Sentiment': 4}

In [58]:
mask.index

RangeIndex(start=0, stop=156060, step=1)

In [78]:
data = data.rename(columns = {'Sentiment': 'sentiment5', 'Phrase': 'review'})

In [79]:
reviews = []
for i in data['SentenceId'].unique():
    mask = data['SentenceId'] == i
    subidx = data[mask].index[0]
    reviews.append(dict(data.iloc[subidx]))

In [80]:
df_reviews = pd.DataFrame(reviews)
df_reviews.head()

,PhraseId,SentenceId,review,sentiment5
0,1,1,A series of escapades demonstrating the adage ...,1
1,64,2,"This quiet , introspective and entertaining in...",4
2,82,3,"Even fans of Ismail Merchant 's work , I suspe...",1
3,117,4,A positively thrilling combination of ethnogra...,3
4,157,5,Aggressive self-glorification and a manipulati...,1

In [81]:
df_reviews['sentiment'] = df_reviews['sentiment5'].map({0:0, 1:0, 2:2, 3:1, 4:1})

In [82]:
df_reviews = df_reviews[df_reviews['sentiment'] < 2]
print(len(df_reviews))

6874

In [83]:
df_reviews.to_csv(datapath + 'rotten.csv')

In [84]:
df_reviews['sentiment'].mean()

0.52400349141693336