https://www.kaggle.com/c/word2vec-nlp-tutorial#part-1-for-beginners-bag-of-words

# Overview summary, tell whole story in a single left to right flow. what's the journey?

## what wil they be able to do after the journey? important in any training

### how this is relevant.

break up into chapters

dependencies

# installing dependencies. why choose them? 3 to 5 words
# free! even for commercial

In [1]:
import numpy as np
import pandas as pd
import re
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from tqdm import tqdm

import helper

In [2]:
nb_top_words = 5000  # Number of words to keep in the vocabulary

In [3]:
data_path = '/media/mike/tera/data/nlp/techvalley/' # Point this to the path to where IMDB data is stored

# where did data come from?

In [4]:
train = pd.read_csv(data_path + 'imdb_train.csv')

In [5]:
train.head()

                                              review  sentiment
0  After watching the Next Action Star reality TV...        1.0
1  I'm a bit conflicted over this. The show is on...        1.0
2  I originally reviewed this film on Amazon abou...        1.0
3  The violent and rebel twenty-five years old sa...        1.0
4  hello. i just watched this movie earlier today...        1.0

In [6]:
train['review'].iloc[-4]

'This is one of the most irritating, nonsensical movies I\'ve ever had the misfortune to sit through. Every time it started to look like it might be getting good, out come more sepia tone flashbacks, followed by paranoid idiocy masquerading as social commentary. The main character, Maddox, is a manipulative, would-be rebel who lives in a mansion seemingly without any parents or responsibility. The supporting cast are all far more likeable and interesting, but are unfortunately never developed. Nor do we ever really understand the John Stanton character supposedly influencing Maddox to commit the acts of rebellion. At one point, I thought "Aha! Maddox is just nuts and is secretly making up all those communications from escaped mental patient Stanton! Now we\'re getting somewhere!" but of course, that ends up to not be the case and the whole movie turns out to be pointless, both from Maddox\'s perspective and the viewer\'s. Where\'s Ferris Bueller when we need him?'

# what are stopwords?

In [7]:
nltk.download('stopwords') # Download the stopwords
stopwords = nltk.corpus.stopwords.words('english')
# stopwords.append('br') 
stopwords

[nltk_data] Downloading package stopwords to /home/mike/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 'her',
 'hers',
 'herself',
 'it',
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 'should',
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 'couldn',
 'didn',
 'doesn',
 'hadn',
 'hasn',
 'haven',
 'isn',
 'ma',
 'mightn',
 'mustn',
 'needn',
 'shan',
 'shouldn',
 'wasn',
 'weren',
 'won',
 'wouldn']

In [8]:
def unstopper(toklist, stoplist=None):
    toklist = [w for w in toklist if not w in stoplist]
    wordstr = ' '.join(toklist)
    return wordstr

In [9]:
# Unleash the power of PANDAS! This is technically one line of code. But since I dislike perl-esque unreadable one-liners, I've split each operation to its own line

train_phrases = train['review']\
                .str.replace(r'<br \/>', ' ')\
                .str.replace(r'[^a-zA-Z]', ' ')\
                .str.lower()\

if False:
    train_phrases = train_phrases.str.split()\
                    .apply(unstopper, stoplist=stopwords)
    
# Note the use of backslash to split to multiple lines for readability
# Remove linebreak <br /> tags
# Replace all non-alphabetic with spaces
# Lowercase only
# Tokenize
# Remove all stopwords


#.str.replace(r' +', ' ')

In [10]:
train.head()['review'].str.split().str.join(' ')

0    After watching the Next Action Star reality TV...
1    I'm a bit conflicted over this. The show is on...
2    I originally reviewed this film on Amazon abou...
3    The violent and rebel twenty-five years old sa...
4    hello. i just watched this movie earlier today...
Name: review, dtype: object

In [11]:
train_phrases[0]

'after watching the next action star reality tv series  i was pleased to see the winners  movie right away  i was leery of such a showcase of new talent  but i was pleasantly surprised and thrilled  billy zane  of course  was his usual great self  but corinne and sean held their own beside him  it was also nice to see jared and jeanne  also from the competition  in their cameo roles  sean s character  not billy s  is the hunted  and his frustration at discovering new rules in the game is well played  corinne walks the tightrope well between her character liking sean s and only being in it for the money  i loved how the game was played right to the last second  and then beyond  not a great movie  but an entertaining one all the way and a great showcase for two folks on their first time out of the gate '

In [12]:
# Now we need to concatenate all the reviews into a single list so we can apply Bag of Words. 
big_list_train_phrases = []
for sentence in train_phrases.values:
    big_list_train_phrases.append(sentence)
print(len(big_list_train_phrases))
# big_list_train_phrases

25000

In [13]:
# Initialize the "CountVectorizer" object, which is scikit-learn's
# bag of words tool.  

vectorizer = CountVectorizer(analyzer = "word",   \
                             tokenizer = None,    \
                             preprocessor = None, \
                             stop_words = None,   \
                             max_features = nb_top_words - 1) 

# We have to subtract one in order to make room for the null character.

# explain vectorizing

In [14]:
train_data_features = vectorizer.fit_transform(big_list_train_phrases)

In [15]:
type(train_data_features)

scipy.sparse.csr.csr_matrix

In [16]:
train_data_features = train_data_features.toarray()
train_data_features.shape

(25000, 4999)

In [17]:
vocab = vectorizer.get_feature_names()

In [18]:
# Sum up the counts of each vocabulary word
freq = np.sum(train_data_features, axis=0)

# For each, print the vocabulary word and the number of times it 
# appears in the training set

In [19]:
df_vocab = pd.DataFrame(list(zip(vocab, freq)), columns=['vocab', 'freq'])

In [20]:
df_vocab

             vocab   freq
0        abandoned    187
1              abc    125
2        abilities    108
3          ability    454
4             able   1259
5            about  17375
6            above    819
7          abraham     85
8          absence    116
9           absent     83
10        absolute    352
11      absolutely   1485
12          absurd    306
13           abuse    192
14         abusive     91
15         abysmal     98
16         academy    297
17          accent    485
18         accents    203
19          accept    300
20      acceptable    130
21        accepted    144
22          access     92
23        accident    318
24    accidentally    200
25     accompanied     88
26    accomplished    124
27       according    296
28         account    186
29        accurate    284
...            ...    ...
4969       writers    662
4970        writes     94
4971       writing   1304
4972       written   1616
4973         wrong   1823
4974         wrote    574
4975            ww     85
4976          wwii    158
4977            ya    103
4978          yard     82
4979          yeah    462
4980          year   2362
4981         years   4516
4982       yelling     92
4983        yellow    106
4984           yes   1535
4985     yesterday    116
4986           yet   2754
4987          york    810
4988           you  34268
4989         young   3660
4990       younger    503
4991          your   5685
4992      yourself    989
4993         youth    275
4994          zero    384
4995         zizek     85
4996        zombie    740
4997       zombies    518
4998          zone    147

[4999 rows x 2 columns]

In [21]:
df_vocab = df_vocab.sort_values(by='freq', ascending=False)
df_vocab.reset_index(drop=True, inplace=True)
df_vocab.index = df_vocab.index + 1   # We need to increase this to make room for our null character
df_vocab.head(10)

   vocab    freq
1    the  336758
2    and  164143
3     of  145867
4     to  135724
5     is  107337
6     it   96472
7     in   93981
8   this   76007
9   that   73287
10   was   48209

In [22]:
# Invert word/int pairs to get our lookup
vocab_idx = {key:value for (key, value) in zip(df_vocab['vocab'], df_vocab.index)}

In [23]:
def words_to_index(wordlist, vocab=None):
    """Minifunction for pandas.apply(). Replaces each word with respective index"""
    return [vocab[word] if word in vocab else 0 for word in wordlist]

In [24]:
train_idx = train_phrases.str.split().apply(words_to_index, vocab=vocab_idx)
train_idx.head()

0    [96, 142, 1, 363, 196, 311, 606, 235, 190, 0, ...
1    [0, 0, 0, 217, 0, 114, 8, 1, 116, 5, 18, 25, 4...
2    [0, 1786, 0, 8, 16, 18, 0, 39, 37, 149, 579, 2...
3    [1, 1079, 2, 4137, 1744, 651, 149, 148, 0, 467...
4    [4591, 0, 38, 286, 8, 14, 881, 493, 12, 1, 805...
Name: review, dtype: object

In [25]:
def get_vocab_index(data_phrases, verbose=False):
    """ Proccess an array-like of strings and generate Bag of Words vocab index
    """
    big_list_phrases = []
    for sentence in data_phrases.values:
        big_list_phrases.append(sentence)

    vectorizer = CountVectorizer(analyzer = "word",   \
                         tokenizer = None,    \
                         preprocessor = None, \
                         stop_words = None,   \
                         max_features = 5000) 

    if verbose: print('Vectorizing')
    data_features = vectorizer.fit_transform(big_list_phrases)
    data_features = data_features.toarray()
    freq = np.sum(train_data_features, axis=0)

    vocab = vectorizer.get_feature_names()
    df_vocab = pd.DataFrame(list(zip(vocab, freq)), columns=['vocab', 'freq'])
    df_vocab = df_vocab.sort_values(by='freq', ascending=False)
    df_vocab.reset_index(drop=True, inplace=True)
    df_vocab.index = df_vocab.index + 1   # We need to increase this to make room for our null character
    vocab_idx = {key:value for (key, value) in zip(df_vocab['vocab'], df_vocab.index)}
    return vocab_idx
    

def load_and_process_imdb_csv(file, vocab_idx=None, stopwords=None, header='infer', delimiter=None, quoting=0, show_proccessed=False, verbose=False):
    if verbose: print('Loading')
    data = pd.read_csv(file, header=header, delimiter=delimiter, quoting=quoting)
    if verbose: print('Preprocesing')
    data_phrases = data['review'].str.replace(r'<br \/>', ' ')\
                    .str.replace(r'[^a-zA-Z]', ' ').str.lower()

    if stopwords:
        data_phrases = data_phrases.str.split()\
                        .apply(unstopper, stoplist=stopwords)
            
    if vocab_idx is None:
        vocab_idx = get_vocab_index(data_phrases, verbose=verbose)

    if verbose: print('Indexing')
    data_idx = data_phrases.str.split().apply(words_to_index, vocab=vocab_idx)
    data['vectors'] = data_idx
    if show_proccessed:
        data['proccessed'] = data_phrases
    return data, vocab_idx

In [26]:
train_data, vocab_idx = load_and_process_imdb_csv(data_path + 'imdb_train.csv', verbose=1)

Loading
Preprocesing
Vectorizing
Indexing

In [27]:
train_data

,review,sentiment,vectors
0,After watching the Next Action Star reality TV...,1.0,"[96, 1038, 723, 317, 196, 4905, 897, 3767, 603..."
1,I'm a bit conflicted over this. The show is on...,1.0,"[0, 0, 0, 217, 0, 4734, 2007, 723, 4584, 1057,..."
2,I originally reviewed this film on Amazon abou...,1.0,"[0, 4796, 0, 2007, 785, 274, 0, 39, 4837, 4528..."
3,The violent and rebel twenty-five years old sa...,1.0,"[723, 3077, 2, 2226, 1402, 4245, 4528, 894, 0,..."
4,hello. i just watched this movie earlier today...,1.0,"[329, 0, 1306, 3590, 2007, 94, 385, 3853, 3652..."
5,Possibly the best movie ever created in the hi...,1.0,"[1163, 723, 112, 94, 169, 1044, 4398, 723, 549..."
6,"okay, but just plain dumb. Not bad for a horro...",1.0,"[148, 15, 1306, 1298, 3634, 2817, 71, 3652, 0,..."
7,"I remember seeing this film years ago on, I th...",1.0,"[0, 1984, 2671, 2007, 785, 4528, 579, 274, 0, ..."
8,One of director Miike Takashi's very best. It'...,1.0,"[637, 118, 151, 1824, 0, 0, 2430, 112, 1073, 0..."
9,I love this show! It's like watching a mini mo...,1.0,"[0, 438, 2007, 4584, 1073, 0, 411, 1038, 0, 36..."
10,While originally reluctant to jump on the band...,1.0,"[1825, 4796, 0, 493, 4534, 274, 723, 0, 118, 1..."
11,"Let me start by saying that ""War, Inc"" is not ...",1.0,"[1589, 371, 628, 29, 541, 1544, 3494, 0, 1057,..."
12,Anyone who doesn't like this film is one who i...,1.0,"[244, 2415, 146, 0, 411, 2007, 785, 1057, 637,..."
13,A MUST SEE! I saw WHIPPED at a press screening...,1.0,"[0, 55, 4225, 0, 128, 0, 27, 0, 3473, 853, 2, ..."
14,Another one of those films you hear about from...,1.0,"[154, 637, 118, 145, 461, 178, 540, 39, 980, 1..."
15,This is the magnum opus from the Swedish king ...,1.0,"[2007, 1057, 723, 0, 0, 980, 723, 1007, 4423, ..."
16,As I was watching this film on video last nigh...,1.0,"[11, 0, 1888, 1038, 2007, 785, 274, 3306, 4256..."
17,"Thank the Lord for Martin Scorsese, and his lo...",1.0,"[2641, 723, 3580, 3652, 4599, 0, 2, 1336, 438,..."
18,This is one the few movies I can watch over an...,1.0,"[2007, 1057, 637, 723, 886, 705, 0, 46, 1699, ..."
19,When you typically watch a short film your alw...,1.0,"[1900, 178, 1511, 1699, 0, 3610, 785, 604, 202..."
20,"My Comments for VIVAH :- Its a charming, ideal...",1.0,"[4345, 770, 3652, 0, 397, 0, 1185, 0, 438, 746..."
21,Deathtrap runs like a play within a movie abou...,1.0,"[0, 3919, 411, 0, 245, 199, 0, 94, 39, 2415, 1..."
22,Are we really making 'video nasties' again? In...,1.0,"[21, 791, 277, 878, 3306, 0, 167, 4398, 723, 0..."
23,This film quite literally has every single act...,1.0,"[2007, 785, 3139, 4562, 1432, 1329, 3087, 196,..."
24,Disney might just be on to something here. Fir...,1.0,"[800, 4730, 1306, 24, 274, 493, 501, 568, 4546..."
25,"The performance by Om Puri, Smita Patil, and S...",1.0,"[723, 344, 29, 0, 0, 0, 0, 2, 0, 0, 2, 723, 49..."
26,"Oh dear . Yet another example of "" Oireland "" ...",1.0,"[3206, 3133, 742, 154, 2657, 118, 0, 2, 1685, ..."
27,This movie captures the absurd essence of an o...,1.0,"[2007, 94, 2289, 723, 1702, 2891, 118, 30, 0, ..."
28,YETI deserves the 8 star rating because it is ...,1.0,"[0, 984, 723, 4905, 2838, 81, 1073, 1057, 723,..."
29,Jazz aficionados will treasure this classic sh...,1.0,"[3624, 0, 978, 1644, 2007, 342, 3610, 599, 174..."
...,...,...,...
24970,The video quality is awful. The sound quality ...,0.0,"[723, 3306, 1535, 1057, 360, 723, 2721, 1535, ..."
24971,I sat through almost one episode of this serie...,0.0,"[0, 3460, 454, 211, 637, 648, 118, 2007, 603, ..."
24972,"""Plan B"" is strictly by-the-numbers fare excep...",0.0,"[1635, 0, 1057, 3394, 29, 723, 1903, 3775, 136..."
24973,"In 1454, in France, the sorcerer Alaric de Mar...",0.0,"[4398, 4398, 3015, 723, 0, 0, 817, 0, 3662, 0,..."
24974,Chan Wook Park is nothing if not inventive. I'...,0.0,"[2363, 0, 2086, 1057, 1463, 4394, 2817, 3857, ..."
24975,"First of all, I saw this movie when I was 7 ye...",0.0,"[4546, 118, 26, 0, 128, 2007, 94, 1900, 0, 188..."
24976,"I gave Timecop a perfect 10, I gave this 1<br ...",0.0,"[0, 964, 0, 0, 3153, 0, 964, 2007, 1073, 0, 74..."
24977,This film is self indulgent rubbish. Watch thi...,0.0,"[2007, 785, 1057, 3849, 0, 4402, 1699, 2007, 7..."
24978,Steve Martin should quit trying to do remakes ...,0.0,"[2096, 4599, 1565, 173, 3147, 493, 75, 0, 118,..."
24979,1st watched 2/28/2006 - 4 out of 10(Dir-Sydney...,0.0,"[3946, 3590, 3694, 118, 0, 0, 0, 1671, 2013, 0..."
24980,"I knew this movie wasn't going to be amazing, ...",0.0,"[0, 3118, 2007, 94, 426, 0, 1754, 493, 24, 465..."
24981,"I am a huge fan of the comic book series, but ...",0.0,"[0, 232, 0, 3855, 3683, 118, 723, 672, 260, 60..."
24982,Pretty crazy whodunit featuring an all black c...,0.0,"[3579, 892, 0, 4946, 30, 26, 316, 171, 3147, 4..."
24983,"Wow, how bad can it get. This was seriously ba...",0.0,"[4717, 1960, 71, 46, 1073, 205, 2007, 1888, 28..."
24984,"I tried twice to get through this film, succee...",0.0,"[0, 482, 4666, 493, 205, 454, 2007, 785, 0, 72..."
24985,This movie was seriously awful. The acting was...,0.0,"[2007, 94, 1888, 2824, 360, 723, 108, 1888, 72..."
24986,I was expecting a B-Movie French musical. Afte...,0.0,"[0, 1888, 3234, 0, 0, 94, 4727, 2729, 96, 26, ..."
24987,Cuba Gooding Jr. is a secret service agent who...,0.0,"[3932, 0, 1837, 1057, 0, 3275, 4753, 1486, 241..."
24988,This is exactly the reason why many people rem...,0.0,"[2007, 1057, 3649, 723, 3718, 3703, 4875, 4243..."
24989,"Weaker entry in the Bulldog Drummond series, w...",0.0,"[0, 2727, 4398, 723, 0, 0, 603, 720, 1676, 183..."
24990,I can watch a good gory film now and then. I'v...,0.0,"[0, 46, 1699, 0, 4050, 182, 785, 2830, 2, 2506..."
24991,This is the first Guinea Pig film from Japan a...,0.0,"[2007, 1057, 723, 4546, 0, 2368, 785, 980, 833..."
24992,"For some reason, various young couples hiking ...",0.0,"[3652, 1745, 3718, 4236, 1120, 4487, 0, 454, 7..."
24993,Unless you are between the ages of 10 and 14 (...,0.0,"[992, 178, 21, 192, 723, 2037, 118, 2, 1362, 3..."
24994,Hanna-Barbera sucks the life out of another fa...,0.0,"[0, 0, 2052, 723, 4085, 3694, 118, 154, 324, 4..."
24995,Kurt Thomas in one of the series of gymnast ol...,0.0,"[4378, 4810, 4398, 637, 118, 723, 603, 118, 0,..."
24996,"This is one of the most irritating, nonsensica...",0.0,"[2007, 1057, 637, 118, 723, 647, 5, 860, 705, ..."
24997,"God, I was bored out of my head as I watched t...",0.0,"[3342, 0, 1888, 1065, 3694, 118, 4345, 2799, 1..."
24998,What a waste! This movie could have really bee...,0.0,"[816, 0, 1022, 2007, 94, 92, 738, 277, 72, 501..."
24999,When I tell people that I review movies as a h...,0.0,"[1900, 0, 956, 4243, 1544, 0, 2102, 705, 11, 0..."

In [28]:
test_data, _ = load_and_process_imdb_csv(data_path + 'imdb_test.csv', vocab_idx=vocab_idx, show_proccessed=1,  verbose=1)

Loading
Preprocesing
Indexing

In [29]:
rotten_data, _ = load_and_process_imdb_csv(data_path + 'rotten.csv', vocab_idx=vocab_idx, verbose=1)

Loading
Preprocesing
Indexing

In [30]:
test_data.head()

,review,sentiment,vectors,proccessed
0,After watching the Next Action Star reality TV...,1.0,"[96, 1038, 723, 317, 196, 4905, 897, 3767, 603...",after watching the next action star reality tv...
1,I'm a bit conflicted over this. The show is on...,1.0,"[0, 0, 0, 217, 0, 4734, 2007, 723, 4584, 1057,...",i m a bit conflicted over this the show is on...
2,I originally reviewed this film on Amazon abou...,1.0,"[0, 4796, 0, 2007, 785, 274, 0, 39, 4837, 4528...",i originally reviewed this film on amazon abou...
3,The violent and rebel twenty-five years old sa...,1.0,"[723, 3077, 2, 2226, 1402, 4245, 4528, 894, 0,...",the violent and rebel twenty five years old sa...
4,hello. i just watched this movie earlier today...,1.0,"[329, 0, 1306, 3590, 2007, 94, 385, 3853, 3652...",hello i just watched this movie earlier today...

In [31]:
rotten_data.head()

,Unnamed: 0,PhraseId,SentenceId,review,sentiment5,sentiment,vectors
0,0,1,1,A series of escapades demonstrating the adage ...,1,0,"[0, 603, 118, 0, 0, 723, 0, 1544, 816, 1057, 4..."
1,1,64,2,"This quiet , introspective and entertaining in...",4,1,"[2007, 4923, 0, 2, 692, 2667, 1057, 3497, 4748]"
2,2,82,3,"Even fans of Ismail Merchant 's work , I suspe...",1,0,"[2064, 752, 118, 0, 0, 0, 921, 0, 2984, 566, 7..."
3,3,117,4,A positively thrilling combination of ethnogra...,3,1,"[0, 0, 3429, 2176, 118, 0, 2, 26, 723, 3657, 0..."
4,4,157,5,Aggressive self-glorification and a manipulati...,1,0,"[0, 3849, 0, 2, 0, 4633, 0]"

In [32]:
# Shuffle the dataframe
rotten_data = rotten_data.sample(frac=1)
rotten_data.head()

,Unnamed: 0,PhraseId,SentenceId,review,sentiment5,sentiment,vectors
228,281,7037,282,"First , for a movie that tries to be smart , i...",1,0,"[4546, 3652, 0, 94, 1544, 2290, 493, 24, 1787,..."
3527,4384,84867,4389,A grand fart coming from a director beginning ...,0,0,"[0, 4289, 0, 563, 980, 0, 151, 442, 493, 0, 13..."
6462,8027,147785,8041,Given the fact that virtually no one is bound ...,0,0,"[396, 723, 2274, 1544, 3260, 3018, 637, 1057, ..."
5140,6389,119645,6399,There 's a lot of tooth in Roger Dodger .,3,1,"[1587, 0, 0, 751, 118, 338, 4398, 2788, 0]"
4265,5286,100741,5292,So aggressively cheery that Pollyana would rea...,1,0,"[1809, 0, 0, 1544, 0, 566, 3785, 3652, 0, 0, 3..."

In [33]:
m = len(rotten_data) // 2

In [34]:
rotten_train = rotten_data.iloc[:m]
rotten_test = rotten_data.iloc[m:]
print(rotten_train.shape, rotten_test.shape)

(3437, 7) (3437, 7)

In [35]:
# Make a numpy file so we can easily load it into the other notebook
helper.package_dataset(data_path + 'imdb.npz', np.array(train_data['vectors']), np.array(train_data['sentiment'], dtype='int16'), 
                                              np.array(test_data['vectors']), np.array(test_data['sentiment'], dtype='int16'))

helper.package_dataset(data_path + 'rotten.npz', np.array(rotten_train['vectors']), np.array(rotten_train['sentiment'], dtype='int16'), 
                                              np.array(rotten_test['vectors']), np.array(rotten_test['sentiment'], dtype='int16'))

In [36]:
data =np.load(data_path + 'imdb.npz')

In [37]:
type(data)

numpy.lib.npyio.NpzFile

In [38]:
data.keys()

['arr_0']

In [39]:
data['arr_0'].shape

(2, 2, 25000)

In [41]:
(a, b), (c, d) = helper.unpackage_dataset(data_path + 'imdb.npz')#data['arr_0']

In [ ]:
b